body {
  font-family: "Lato", sans-serif;
}
h1 {
  font-size: 48px;
  margin: 20px 0; }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 30px; } }

h2, h3, h4 {
  font-weight: lighter; }

@media screen and (max-width: 480px) {
  h3 {
    font-size: 24px; } }

@media screen and (max-width: 480px) {
  h4 {
    font-size: 18px; } }

ul {
  list-style: none;
  padding: 0; }
  ul li {
    padding: 0; }

header {
  padding: 20px 0; }
  header .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 768px) {
      header .row .logo {
        margin: 0 auto;
        text-align: center; } }
    header .row .form {
      text-align: right;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media screen and (max-width: 768px) {
        header .row .form {
          width: 100%;
          text-align: center;
          margin: 20px auto; } }
      header .row .form form {
        width: 100%; }
        header .row .form form input {
          border: none;
          outline: none;
          color: #999999;
          padding: 5px 10px; }
        header .row .form form input[type="text"] {
          width: 70%; }

.main {
  padding: 40px 0;
  margin: 50px 0;
  background: url("../img/sun_big.png") center no-repeat;
  background-size: contain;
  text-shadow: 0 0 8px black; }
  .main #temp {
    font-size: 60px; }
    @media screen and (max-width: 480px) {
      .main #temp {
        font-size: 38px; } }
  @media screen and (max-width: 480px) {
    .main #date {
      font-size: 26px; } }
  .main ul {
    margin-top: 20px; }
    @media screen and (max-width: 480px) {
      .main ul {
        margin-top: 15px; } }
    .main ul li ul {
      text-align: right; }
      .main ul li ul li {
        display: inline-block;
        margin: 10px 0 10px 10px; }
        @media screen and (max-width: 480px) {
          .main ul li ul li {
            margin: 5px 0 5px 10px; } }
        @media screen and (max-width: 334px) {
          .main ul li ul li {
            height: 36px; } }
        @media screen and (max-width: 334px) {
          .main ul li ul li:last-child {
            display: none; } }

.future .mini-plate {
  background-color: #0d568c;
  padding: 40px 5px;
  text-align: center;
  margin: 1%;
  width: 23%;
  border-radius: 10px; }
  @media screen and (max-width: 480px) {
    .future .mini-plate {
      padding: 15px 5px; } }

@media screen and (max-width: 480px) {
  .future img {
    width: 95%; } }
