body {
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 48px;
  margin: 20px 0;
  color: white; }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 30px; } }

h2, h3, h4 {
  font-weight: 300; }

@media screen and (max-width: 480px) {
  h3 {
    font-size: 24px; } }

@media screen and (max-width: 480px) {
  h4 {
    font-size: 18px; } }

ul {
  list-style: none;
  padding: 0; }
  ul li {
    padding: 0; }

header {
  padding: 30px 0; }
  header .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 768px) {
      header .row .logo {
        margin: 0 auto;
        text-align: center; } }
    header .row .form {
      text-align: right;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media screen and (max-width: 768px) {
        header .row .form {
          width: 100%;
          text-align: center;
          margin: 20px auto; } }
      header .row .form form {
        width: 100%; }
        header .row .form form label {
          font-size: 16px;
          font-weight: lighter; }
        header .row .form form input {
          border: none;
          outline: none;
          color: #999999;
          padding: 5px 10px; }
        header .row .form form input[type="text"] {
          width: 70%; }

.main {
  padding: 55px 0;
  margin: 55px 0;
  background: center no-repeat;
  background-size: contain;
  text-shadow: 0 0 8px black; }
  @media screen and (max-width: 480px) {
    .main {
      padding: 30px 0;
      margin: 45px 0; } }
  .main #temp {
    font-size: 60px; }
    @media screen and (max-width: 480px) {
      .main #temp {
        font-size: 38px; } }
  @media screen and (max-width: 480px) {
    .main #date {
      font-size: 26px; } }
  .main ul {
    margin-top: 20px; }
    @media screen and (max-width: 480px) {
      .main ul {
        margin-top: 15px; } }
    .main ul .anim-item {
      visibility: hidden;
      animation-name: slideRight;
      -webkit-animation-name: slideRight;
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-timing-function: ease;
      -webkit-animation-timing-function: ease;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards; }
      .main ul .anim-item ul {
        text-align: right; }
        .main ul .anim-item ul li {
          display: inline-block;
          margin: 10px 0 10px 10px; }
          @media screen and (max-width: 480px) {
            .main ul .anim-item ul li {
              margin: 5px 0 5px 10px; } }
          @media screen and (max-width: 334px) {
            .main ul .anim-item ul li {
              height: 36px; } }
          @media screen and (max-width: 334px) {
            .main ul .anim-item ul li:last-child {
              display: none; } }
      .main ul .anim-item:nth-child(2) {
        -webkit-animation-delay: 0.15s;
        animation-delay: 0.15s; }
      .main ul .anim-item:last-child {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
        margin: 0; }

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    visibility: hidden; }
  20% {
    -webkit-transform: translateX(80%);
    transform: translateX(80%);
    visibility: hidden; }
  40% {
    -webkit-transform: translateX(60%);
    transform: translateX(60%);
    visibility: visible; }
  60% {
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
    visibility: visible; }
  80% {
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    visibility: visible; } }

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    visibility: hidden; }
  20% {
    -webkit-transform: translateX(80%);
    transform: translateX(80%);
    visibility: hidden; }
  40% {
    -webkit-transform: translateX(60%);
    transform: translateX(60%);
    visibility: visible; }
  60% {
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
    visibility: visible; }
  80% {
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    visibility: visible; } }

.future #back {
  background-color: #0d568c;
  padding: 15px;
  border-radius: 10px;
  width: 23%;
  text-align: center;
  visibility: hidden;
  cursor: pointer; }
  .future #back:hover {
    background-color: #0d65a8; }

.future .mini-plate {
  background-color: #0d568c;
  padding: 40px 5px;
  text-align: center;
  margin: 1%;
  width: 23%;
  border-radius: 10px;
  cursor: pointer; }
  @media screen and (max-width: 480px) {
    .future .mini-plate {
      padding: 15px 5px; } }
  .future .mini-plate p {
    display: none; }
  @media screen and (max-width: 480px) {
    .future .mini-plate img {
      width: 95%; } }
